{{ range $index, $value := $ }}
/var/lib/docker/containers/{{ $value.ID }}/{{ $value.ID }}-json.log
{
    daily
    missingok
    rotate 3
    size 512M
    compress
    notifempty
    create 644 root root
}
{{ end }}
